In [32]:
import pandas as pd
import numpy as np
import ast

In [33]:
df = pd.read_csv('BD/P2_G5_films.csv.gz', compression = 'gzip', na_values = ['\\N'])

/var/folders/2b/18xblx_n4lv24wz932vjckrm0000gp/T/ipykernel_7930/2534545640.py:1: DtypeWarning: Columns (1,3,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('BD/P2_G5_films.csv.gz', compression = 'gzip', na_values = ['\\N'])

In [34]:
# df['film_id'] = df['imdb_id'].fillna(df['tconst']).fillna(df['titleId'])
# df = df.drop(['imdb_id', 'tconst', 'titleId'], axis = 1)
# df['vote_count_mean'] = (df['vote_count'] + df['numVotes'])/2
# df = df.drop(['runtime', 'release_date', 'vote_average', 'numVotes', 'vote_count', 'startYear', 'endYear', 'runtimeMinutes', 'averageRating', 'difference_runtime', 'difference_vote'], axis = 1)

In [35]:
# colonnes_y = ['production_countries', 'spoken_languages', 'production_companies_country']

# # df[['production_countries', 'spoken_languages', 'production_companies_country', 'original_language', 'language']] = df[['original_language', 'language']].str.replace(",", ", ")

# def transfo_liste(x):
#   if isinstance(x, str):
#     return ast.literal_eval(x)
#   else:
#     return x

# for cl in colonnes_y:
 
#     df[cl] = df[cl].apply(transfo_liste)

#     df[cl] = df[cl].apply(lambda x: x if (type(x) == list) else [])

#     # df[['original_language', 'language']] = df[['original_language', 'language']].str.replace(",", ", ")

# df['original_language_x_list'] = df['original_language'].fillna('').str.split(', ')
# df['language_x_list'] = df['language'].fillna('').str.split(', ')

# df['final_language'] = df.apply(lambda row: list(set(row['production_countries'] + row['spoken_languages'] + row['production_companies_country'] + row['original_language_x_list'] + row['language_x_list'])),axis=1)
# df['final_language'] = df['final_language'].apply(lambda x: x if x != [] else np.nan)
# df['final_language'] = df['final_language'].apply(lambda x: ', '.join(x) if type(x) == list else x)

# df = df[(df['final_language'] == '') | (df['final_language'].str.contains('fr') == True) | (df['final_language'].str.contains('FR') == True)]

In [50]:
# df = df.drop(['original_language', 'spoken_languages', 'language', 'original_language_x_list', 'language_x_list'], axis = 1)

In [76]:
# df[(df['final_language'].str.contains('FR') == True) | (df['final_language'].str.contains('fr') == True)]['revenue'].value_counts()

revenue
0.0           253105
2000000.0        238
1600000.0        193
8000000.0        179
3000000.0        172
               ...
16872671.0         1
81000000.0         1
47494916.0         1
595214.0           1
50.0               1
Name: count, Length: 9127, dtype: int64

In [108]:
colonnes = df.columns
donnees = pd.DataFrame(columns = colonnes)

for col in colonnes:
    donnees.loc[0, col] = round((len(df[df[col] != 0]) / len(df))*100, 2)

donnees.transpose()

                                  0
adult                           1.8
backdrop_path                 100.0
budget                         5.53
homepage                      100.0
id                            100.0
overview                      100.0
popularity                    21.99
poster_path                   100.0
production_countries          100.0
revenue                        5.58
status                        100.0
tagline                       100.0
video                         78.04
production_companies_name     100.0
production_companies_country  100.0
titleType                     100.0
ordering                      100.0
region                        100.0
types                         100.0
attributes                    100.0
isOriginalTitle               33.94
year_exact                    86.47
Decennie                      100.0
runtime_exact                 100.0
vote_exact                    100.0
arrondi_vote_exact            100.0
genre                         100.0
title                         100.0
film_id                       100.0
vote_count_mean               48.73
final_language                100.0

In [66]:
df.columns

Index(['adult', 'backdrop_path', 'budget', 'homepage', 'id', 'overview',
       'popularity', 'poster_path', 'production_countries', 'revenue',
       'status', 'tagline', 'video', 'production_companies_name',
       'production_companies_country', 'titleType', 'ordering', 'region',
       'types', 'attributes', 'isOriginalTitle', 'year_exact', 'Decennie',
       'runtime_exact', 'vote_exact', 'arrondi_vote_exact', 'genre', 'title',
       'film_id', 'vote_count_mean', 'final_language'],
      dtype='object')

In [65]:
(len(df[df['revenue'] != 0]) / len(df))*100

5.57858047868119

In [107]:
len(df)

1508269

In [89]:
df_sorted = df.sort_values(by = 'final_language', ascending = False)

In [91]:
df_sorted = df_sorted.drop_duplicates(subset = 'film_id', keep='first')
len(df_sorted)

541763

In [98]:
colonnes = df_sorted.columns
donnees = pd.DataFrame(columns = colonnes)

for col in colonnes:
    donnees.loc[0, col] = round((len(df_sorted[df_sorted[col] != 0]) / len(df_sorted))*100, 2)

donnees.transpose()

                                  0
adult                          1.64
backdrop_path                 100.0
budget                         1.92
homepage                      100.0
id                            100.0
overview                      100.0
popularity                      9.2
poster_path                   100.0
production_countries          100.0
revenue                        1.83
status                        100.0
tagline                       100.0
video                         90.82
production_companies_name     100.0
production_companies_country  100.0
titleType                     100.0
ordering                      100.0
region                        100.0
types                         100.0
attributes                    100.0
isOriginalTitle               30.42
year_exact                    81.57
Decennie                      100.0
runtime_exact                 100.0
vote_exact                    100.0
arrondi_vote_exact            100.0
genre                         100.0
title                         100.0
film_id                       100.0
vote_count_mean               33.29
final_language                100.0

In [109]:
len(df_final[df_final['budget_x'] != 0])

10406

In [110]:
len(df_final)

541763

In [101]:
df_revenue = df[['film_id', 'revenue', 'budget']]
df_revenue = df_revenue.sort_values(by = 'revenue', ascending = False)
df_revenue = df_revenue.drop_duplicates(subset = 'film_id', keep='first')

In [105]:
df_final = pd.merge(df_sorted,
                    df_revenue,
                    how = 'left',
                    on = 'film_id')

In [106]:
colonnes = df_final.columns
donnees = pd.DataFrame(columns = colonnes)

for col in colonnes:
    donnees.loc[0, col] = round((len(df_final[df_final[col] != 0]) / len(df_final))*100, 2)

donnees.transpose()

                                  0
adult                          1.64
backdrop_path                 100.0
budget_x                       1.92
homepage                      100.0
id                            100.0
overview                      100.0
popularity                      9.2
poster_path                   100.0
production_countries          100.0
revenue_x                      1.83
status                        100.0
tagline                       100.0
video                         90.82
production_companies_name     100.0
production_companies_country  100.0
titleType                     100.0
ordering                      100.0
region                        100.0
types                         100.0
attributes                    100.0
isOriginalTitle               30.42
year_exact                    81.57
Decennie                      100.0
runtime_exact                 100.0
vote_exact                    100.0
arrondi_vote_exact            100.0
genre                         100.0
title                         100.0
film_id                       100.0
vote_count_mean               33.29
final_language                100.0
revenue_y                      1.83
budget_y                       1.92